*{
    margin: 0px;
    padding: 0px;
    font-family: "Comic Sans MS";
}
body{
    height: 100%;
    background-color: rgb(133, 198, 255);
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(128, 255, 202),rgb(133, 198, 255));
    margin-bottom: 100px;
}
header{
    padding-top: 20px;
    background-color: rgb(7, 255, 152);
}
.search-div{    
    width: auto;
    margin: 40px 20% 20px 20%;
}
.search-input{
    width: 70%;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.5em;
    background-color: rgba(47, 61, 255, 0.233);
}
#search-button{
    background-color: greenyellow;
    width: 20%;
    margin: 0px 2.5%;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.5em;
}
.output-div{
    width: 60%;
    margin: 5% 20%;
    text-align: center;
}
#movie_poster{
    margin: 10px;
    border-radius: 10px;
    float: left;
}
h1{
    color: rgb(0, 0, 87);
    text-align: center;
}
#plot,#writer,#actors,#director{
    clear: both;
}
p{
    margin: 5px 5px;
    font-size: 1.25em;
}
footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    padding: 20px 0px;
    font-size: 1.2em;
    background-color: rgb(62, 165, 255);
}
hr{
    border: 2px solid rgb(0, 72, 134);
}
@media(max-width: 767px){
    .search-div{
        margin: 5% 10%;
    }
    .search-input{
        width: 60%;
    }
    #search-button{
        width: auto;
    }
    .output-div{
        width: 80%;
        margin: 5% 10%;
    }